{% extends "base.html" %}

{% block title %}TRV{% endblock %}
{% block content %}
<br/>
<h1 align="center">Tunel de Congelamento</h1>
<br/>

<div class="container-lg">
  <h4>Selecione a data inicial e final para filtrar</h4>

<form method="POST" action="{{ url_for('views.trv') }}" class="row gy-2 gx-3 align-items-center">

  <div class="row g-3">

    <div class="col-auto">
      <label for="start_date" class="form-label">Start Date:</label>
    </div>

    <div class="col-auto">
      <input type="date" class="form-control" id="start_date" name="start_date" aria-describedby="start_date">
    </div>
    
    <div class="col-auto">
      <label for="end_date" class="form-label">End Date:</label>
    </div>
    
    <div class="col-auto">
      <input type="date" class="form-control" id="end_date" name="end_date">
    </div>
    
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Submit</button>
    
    </div>
  </div>
</form>
</div>

<br/>

<div class="container-lg">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Temperature</th>
      </tr>
    </thead>
    <tbody>
      {% for row in trv_data[::-1] %}
      <tr>
        <td>{{ row.x }}</td>
        <td>{{ row.y }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>




<div id="chart"></div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
var dates = {{ trv_data | tojson | safe }};

var options = {
    series: [{
        name: 'Temperatura TRV',
        data: dates
    }],
    chart: {
        type: 'area',
        stacked: false,
        height: 400,
        zoom: {
            type: 'x',
            enabled: true,
            autoScaleYaxis: true
        },
        toolbar: {
            autoSelected: 'zoom'
        }
    },
    dataLabels: {
        enabled: false
    },
    markers: {
        size: 0
    },
    title: {
        text: 'Temperatura TRV',
        align: 'left',
        style: {
            color: '#B8B8B8'
        }
    },
    fill: {
        type: 'gradient',
        gradient: {
            shadeIntensity: 1,
            inverseColors: false,
            opacityFrom: 0.5,
            opacityTo: 0,
            stops: [0, 90, 100]
        }
    },
    yaxis: {
        labels: {
            style: {
              colors: ['#fff'],
              fontSize: '12px',
            },
            formatter: function (val) {
                return val.toFixed(2);
            }
        },
        title: {
            text: 'Temperatura',
            style: {
                color: '#B8B8B8'
            }
        }
    },
    xaxis: {
        type: 'datetime',
        labels: {
            style: {
              colors: ['#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff'],
              fontSize: '12px',
            }
        }
    },
    tooltip: {
        shared: false,
        y: {
            formatter: function (val) {
                return val.toFixed(2);
            }
        }
    }
};

var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();


</script>



{% endblock %}